body {
  font-family: 'Roboto', sans-serif;
  color: #eee;
  height: 170vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #1f2937;
  height: 20vh;
  padding-left: 9rem;
  padding-right: 9rem;
  padding-bottom: 16rem;
}

.header1 {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  color: #eee;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.header-link {
  text-decoration: none;
  color: #eee;
}
.nav-links > li {
  list-style-type: none;
}

.header2 {
  display: flex;
  justify-content: space-between;
}

.image-holder {
  width: 40rem;
  background: #6d747d;
}

.button {
  width: 8rem;
  height: 2rem;
  background: #3b82f6;
  color: #eee;
  border: none;
  border-radius: 0.4rem;
}

.main {
  background-color: #eee;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.main1 {
  background: #eee;
  height: 23vh;
  padding: 3rem;
  display: flex;
  flex-direction: column;
}

.random {
  color: black;
  margin-left: 12rem;
  font-weight: 1700;
}

.card {
  display: flex;
  justify-content: space-evenly;
  gap: 3rem;
}

.card1,
.card2,
.card3,
.card4 {
  border-style: ridge;
  border-color: #3b82f6;
  border-radius: 0.5rem;
  width: 9rem;
  height: 8rem;
}

.main2 {
  background: #e5e7eb;
  height: 26vh;
  padding: 3rem;
}

.quote {
  font-size: 36px;
  font-style: light italic;
  color: #1f2937;
}

.owner {
  color: black;
}

.main3 {
  background-color: #3b82f6;
  border: 25px solid #eee;
  border-radius: 3.2rem;
  display: flex;
  padding: 2.9rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18rem;
}

.final-main {
  margin-right: 18rem;
}

.final-button {
  width: 9rem;
  height: 2rem;
  border-radius: 0.5rem;
  align-items: center;
  border-color: #eee;
  margin-left: 18rem;
  background: #3b82f6;
  color: #eee;
}

.footer {
  background-color: #1f2937;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
