html {
  margin: 0;
  padding: 0;
  background-color: black;
}
body {
  font-family: 'Roboto', sans-serif;
  color: #eee;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #1f2937;
  padding: 0 7rem 7rem 7rem;
}

.header1 {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  color: #eee;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.header-link {
  text-decoration: none;
  color: #eee;
}
.nav-links > li {
  list-style-type: none;
}

.header2 {
  display: flex;
  justify-content: space-between;
}

.image-holder {
  width: 25rem;
  background: #6d747d;
  place-items: center;
}

.image-holder p {
  padding: 7rem 6rem;
}

.button {
  width: 8rem;
  height: 2rem;
  background: #3b82f6;
  color: #eee;
  border: none;
  border-radius: 0.4rem;
}

.main {
  background-color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.main1 {
  background: #eee;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.random {
  color: black;
  margin: 0 0 0 34rem;
  font-weight: 1700;
  justify-content: center;
}
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card {
  display: flex;
  justify-content: space-evenly;
  gap: 3rem;
  justify-content: center;
}

.card-title {
  color: #1f2937;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin: 0 0 0 0;
  padding: 0 10rem 0 10rem;
}

.card-title1 {
  justify-content: center;
}

.card1,
.card2,
.card3,
.card4 {
  border-style: ridge;
  border-color: #3b82f6;
  color: #1f2937;
  border-radius: 0.5rem;
  width: 16rem;
  height: 13rem;
}

.card1 > p {
  padding: 14rem;
}

.main2 {
  background: #e5e7eb;
  padding: 3rem;
}

.quote {
  font-size: 36px;
  font-style: light italic;
  color: #1f2937;
  padding: 0 7rem 0 7rem;
}

.owner {
  color: black;
  padding: 0 7rem 0 7rem;
}

.main3 {
  background-color: #3b82f6;
  border: 57px solid #eee;
  display: flex;
  padding: 2.9rem;
  justify-content: space-between;
  align-items: center;
}

.final-main {
  margin-right: 18rem;
}

.final-button {
  width: 9rem;
  height: 2rem;
  border-radius: 0.5rem;
  align-items: center;
  border-color: #eee;
  margin-left: 18rem;
  background: #3b82f6;
  color: #eee;
}

.footer {
  background-color: #1f2937;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}
